<html>
  <head>
	<style>
		body {
			background: <%=color%>;
		}
	</style>


  </head>
  
  <body>
  

	<form>
		<input type='text' name='guess' />
  		<input type='submit' value='Guess!' />
	</form>

	<p><%=number%></p>
	<p><%=message%></p>
	<p><%=tracking%></p>


 
 </body>


</html>